@{
    ViewData["Title"] = "Cửa Hàng Thể Thao";
}

<div class="text-center">
    <h1 style="background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-color-tennis-sport-advertising-background-backgroundmotionwork-outtennistreeshand-paintedfreshhouses-image_75815.jpg
) ">
        Cửa Hàng Thể Thao Duy Sport
    </h1>
    <font><marquee direction="left" style="background:white"> Sáng ra em gửi một lời chào. Buôn may bán đắt tiền vào như mưa. Cả nhà đã thấy em chưa. Hello một tiếng cùng đưa lộc về.</marquee></font>
    <font><marquee direction="left" style="background:white"> Người ta không mua vì lý do hợp lý. Họ mua vì lý do tình cảm.</marquee></font>
    <font><marquee direction="left" style="background:white"> Xả hàng tồn kho, giá rẻ như cho, không lo về giá. Giá bèo, giá bèo, giá cho người nghèo.</marquee></font>
</div>


<img src="https://cf.shopee.vn/file/e5c56e67e5fd5dfcfdeb4f3fd52ab135
" alt="Áo Bóng Đá 2019 🏆 FREESHIP 🎯 Giảm 14k Đơn từ 280k Khi Nhập [NCVV14K] Áo  Đá Banh Barca Galaxy | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://cf.shopee.vn/file/47b67f484fcf563bb41c23e00745d91e
" alt="Quần áo bóng đá đội tuyển chelsea mẫu galasy cực độc đáo giảm chỉ còn  40,000 đ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://media3.scdn.vn/img4/2021/06_11/AbqGbYG4ZzCqtR7534mM.jpg
" alt="ĐÁNH GIÁ] Bộ Quần Áo Bóng Đá Bayern Munich trắng - Áo Bóng Đá Mới Nhất  2021, Giá rẻ 120,000đ! Xem đánh giá! - Cửa Hàng Giá Rẻ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://www.sporter.vn/wp-content/uploads/2017/06/Ao-juventus-san-nha-hang-viet-nam-1-300x300.jpg
" alt="Áo CLB Juventus sân nhà 2021 - 2022 - Sporter.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://thuhiensport.com/wp-content/uploads/2019/07/Thi%E1%BA%BFt-k%E1%BA%BF-qu%E1%BA%A7n-%C3%A1o-%C4%91%C3%A1-b%C3%B3ng.jpg
" alt="In Áo bóng đá tại Đà Nẵng | Thu Hiền Sport | Giày, Phụ Kiện 0343 938 938" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://file.hstatic.net/200000278317/file/bai-viet-doi-giay-da-bong-co-anh-huong-den-ky-nang-cua-ban-khong-2_e5b81c6fede14ed9825ed400259c8ff6.jpg
" alt="Đôi giày đá bóng có ảnh hưởng đến kỹ năng của bạn không? - Giày đá banh  chính hãng" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 1.7px 0px;">
<img src="https://yousport.vn/Media/Blog/chon-giay-bong-da-phu-hop/chon-giay-bong-da-phu-hop-6.jpg
" alt="Hướng Dẫn 6 Tiêu Chí Chọn Giày Bóng Đá Phù Hợp | YouSport" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://salt.tikicdn.com/cache/400x400/ts/product/8c/e0/c7/1f99b0c252c193b3b8174e8e98c91f96.jpg
" alt="Quả bóng đá, trái banh số 5 (tặng kim bơm túi lưới) | Tiki" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://www.techsignin.com/wp-content/uploads/2018/06/ve-tinh-vi-mach-cong-nghe-y-nghia-dang-sau-qua-bong-world-cup-2018-3.jpg
" alt="Ý nghĩa trái banh Telstar 18 chính thức cho World Cup 2018" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 2.35464px 0px;">
<img src="https://quatangsenviet.vn/uploads/plugin/product_items/734/1472185313_cup0.png" id="img" style="width: 250px; height: 250px;">
<img src="https://bizweb.dktcdn.net/100/072/105/products/4344076huy-chuong-41470.jpg?v=1459415422937" id="img" style="width: 250px; height: 250px;">
<img src="https://fanbongda365.com/wp-content/uploads/2018/12/doi-hinh-hay-nhat-AFF-Cup-Ruc-sang-Van-Lam-Quang-Hai-tiec-cho-Anh-duc-12-1-660-1544914083-598-width660height440-1544981348-756-width660height440-660x440.jpg" id="img" style="width: 250px; height: 250px;">
