@{
    ViewData["Title"] = "Đồ Đá Bóng";
}
<h1>@ViewData["Title"]</h1>

<p>Tự do lựa chọn làm nên cá tính.</p>
<img src="https://cf.shopee.vn/file/e5c56e67e5fd5dfcfdeb4f3fd52ab135
" alt="Áo Bóng Đá 2019 🏆 FREESHIP 🎯 Giảm 14k Đơn từ 280k Khi Nhập [NCVV14K] Áo  Đá Banh Barca Galaxy | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://cf.shopee.vn/file/47b67f484fcf563bb41c23e00745d91e
" alt="Quần áo bóng đá đội tuyển chelsea mẫu galasy cực độc đáo giảm chỉ còn  40,000 đ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://media3.scdn.vn/img4/2021/06_11/AbqGbYG4ZzCqtR7534mM.jpg
" alt="ĐÁNH GIÁ] Bộ Quần Áo Bóng Đá Bayern Munich trắng - Áo Bóng Đá Mới Nhất  2021, Giá rẻ 120,000đ! Xem đánh giá! - Cửa Hàng Giá Rẻ" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://www.sporter.vn/wp-content/uploads/2017/06/Ao-juventus-san-nha-hang-viet-nam-1-300x300.jpg
" alt="Áo CLB Juventus sân nhà 2021 - 2022 - Sporter.vn" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://thuhiensport.com/wp-content/uploads/2019/07/Thi%E1%BA%BFt-k%E1%BA%BF-qu%E1%BA%A7n-%C3%A1o-%C4%91%C3%A1-b%C3%B3ng.jpg
" alt="In Áo bóng đá tại Đà Nẵng | Thu Hiền Sport | Giày, Phụ Kiện 0343 938 938" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://cf.shopee.vn/file/824040c83c5956b613b68662806b93ce
" alt="Bộ Quần Áo Đá Bóng Mẫu Hoạt hình cực dễ thương [ TM] | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://bizweb.dktcdn.net/100/072/140/products/5f434ee568189046c909.jpg?v=1581912127810
" alt="ĐỒ ĐÁ BANH LINE CUTE - EROS SPORT SHOP" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://thuhiensport.com/wp-content/uploads/2019/07/t%E1%BB%B1-thi%E1%BA%BFt-k%E1%BA%BF-qu%E1%BA%A7n-%C3%A1o-%C4%91%C3%A1-b%C3%B3ng.jpg
" alt="In Áo bóng đá tại Đà Nẵng | Thu Hiền Sport | Giày, Phụ Kiện 0343 938 938" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
@{
    ViewData["Title"] = "Phụ Kiện Đá Bóng";
}
<h1>@ViewData["Title"]</h1>

<p>Tự do lựa chọn làm nên cá tính.</p>
<img src="https://sites.google.com/site/phukienbongdadlsport/_/rsrc/1383321747965/phu-kien/dung-cu-bao-ve/bao_ve_chan_adidas_predator20130930155358.jpg
" alt="Dụng cụ bảo vệ - Phụ Kiện Bóng Đá DL Sport" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://phukienbongda.files.wordpress.com/2016/04/phu-kien-bong-da.jpg?w=700
" alt="Phụ kiện bóng đá | Phụ kiện bóng đá" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://i0.wp.com/azzurro-sport.com/wp-content/uploads/2019/11/37.jpg?fit=1440%2C1440&amp;ssl=1
" alt="Phụ kiện bóng đá chính hãng – Combo 6 đôi tất Nike + 2 đôi tất 8 Sport + 2  đôi tất chống trơn FOX + Keo Mizuno + Đinh SG Canterbury + Túi rút Azzurro  Sport – Azzurro" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="http://media.bizwebmedia.net/sites/73882/data/Upload/2015/5/phu_kien_the_thao_mua_he_2015(3).jpg
" alt="Phụ kiện bóng đá tại Hà Nội: Phụ kiện thể thao mùa hè 2015" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://cf.shopee.vn/file/792a53f31963df97fc74ae89ab7fc268_tn
" alt="Băng Quấn Đầu Gối Đá Bóng, Thể Thao, Tập Gym Đàn Hồi Co Dãn 4 Chiều (1 Đôi)  GY11 | Shopee Việt Nam" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://buonvnxk.com/components/com_djclassifieds/images/item/4991_13934807_1150925274980156_7233220014352060761_n_1_thb.jpg
" alt="Bỏ buôn các phụ kiện thể thao, phụ kiện tennis, balo, túi trống, dép, hàng  vnxk - Nữ - Quận Tân Phú - Nguồn Hàng Quần Áo Thời Trang Nữ Việt Nam Xuất  Khẩu" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;">
<img src="https://nemsport.com/wp-content/uploads/2021/04/rote-bao-ve-ong-chan-300x300.jpg
" alt="Tất Đá Bóng Dài Người Lớn - Nem Sport" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 250px; height: 250px; margin: 0px;"><img src="https://shopbongda.vn/wp-content/uploads/2020/03/G%C4%83ng-Tay-Th%E1%BB%A7-M%C3%B4n-Nike-Cam-GTM004-3.jpg" id="img" style="width: 250px; height: 250px;">
@{
    ViewData["Title"] = "Giày Đá Bóng";
}
<h1>@ViewData["Title"]</h1>
<p>Lựa chọn hợp lý làm nên đẳng cấp.</p>
<img src="https://dothethao.net.vn/wp-content/uploads/2020/05/112650574_285590266109652_3183710693046463183_o.jpg" id="img" style="width: 250px; height: 250px;">
<img src="https://www.sport9.vn/images/uploaded/Adidas/x19.3%20blue/98319588_663806391128778_9052270783279136768_o.jpg" id="img" style="width: 250px; height: 250px; ">
<img src="https://vn-live-01.slatic.net/original/834de34484b3f5722b69b78cdb87b627.jpg" id="img" style="width: 250px; height: 250px;">
<img src="https://giayphui.com/wp-content/uploads/2021/04/Nike-Tiempo-Legend-8-Club-TF-Daybreak-1-768x768.jpg" id="img" style="width: 250px; height: 250px; ">
<img src="https://cdn-img-v2.webbnc.net/uploadv2/web/15/15511/product/2020/08/26/06/19/1598436231_z2030097833771_b3376a01f7e67f87ee446eed02785a1b.jp.jpg" id="img" style="width: 250px; height: 250px;">
<img src="https://giaydabongtot.com/wp-content/uploads/2019/04/Giay-bong-da-tre-em-Adidas-X18.3-dinh-cao-FG-den-do-sieu-nhe-2-1.jpg" id="img" style="width: 250px; height: 250px;">
<img src="https://bizweb.dktcdn.net/thumb/grande/100/340/988/products/giay-da-bong-99.jpg?v=1588751743933" id="img" style="width: 250px; height: 250px;">
<img src="https://www.sport9.vn/images/uploaded/dot2/25-Giay-da-bong-chinh-hang-giup-ban-thang-hoa-trong-moi-cuoc-vui-1.jpg" id="img" style="width: 250px; height: 250px;">